SoapExample/SoapExample/WebContent/wsdl/SakilaFilmServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://sakila.ismek.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://sakila.ismek.org" xmlns:intf="http://sakila.ismek.org" xmlns:tns1="http://dto.sakila.ismek.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://sakila.ismek.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dto.sakila.ismek.org"/>
   <element name="findAllFilm">
    <complexType/>
   </element>
   <element name="findAllFilmResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="findAllFilmReturn" type="tns1:FilmDto"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://dto.sakila.ismek.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="FilmDto">
    <sequence>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="filmId" nillable="true" type="xsd:long"/>
     <element name="title" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="findAllFilmRequest">

      <wsdl:part element="impl:findAllFilm" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findAllFilmResponse">

      <wsdl:part element="impl:findAllFilmResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SakilaFilmServiceImpl">

      <wsdl:operation name="findAllFilm">

         <wsdl:input message="impl:findAllFilmRequest" name="findAllFilmRequest">

       </wsdl:input>

         <wsdl:output message="impl:findAllFilmResponse" name="findAllFilmResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SakilaFilmServiceImplSoapBinding" type="impl:SakilaFilmServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="findAllFilm">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findAllFilmRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findAllFilmResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SakilaFilmServiceImplService">

      <wsdl:port binding="impl:SakilaFilmServiceImplSoapBinding" name="SakilaFilmServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/SoapExample/services/SakilaFilmServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
